@font-face {
    font-family: 'Title';
    src: url('../ressources/fonts/title.ttf');
  }

@backgroundcolor : rgb(20,20,20);
@textcolor: white;

body {
    background-color: @backgroundcolor;
    color: @textcolor;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    header {
        margin: 0 0 10px 0;
    }

    #scoreboard {
      width: 70vw;
      height: 50vh;
      background-color: black;
      opacity: 1;
      position: absolute;
      z-index: 2;
      left: 15vw;
      margin-top: -600vh;
      transition: margin-top 0.7s;
      color: white;
      border: 5px solid yellow;
      overflow: scroll;

      h1 {
          text-align: center;
          a {
            text-decoration: none;
            color: white;
          }
      }

      .scoretable {
          margin: auto;
          table {
              width: 50%;
              border: 2px solid yellow;
              margin: 30px auto 30px auto;
              color: white;
              text-align: center;
              border-collapse: collapse;

              th {
                  border-bottom: 2px solid white;
              }
          }

      }

      input {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid lightblue;
        background-color: aqua;
        margin: auto;
        display: block;
        font-size: 1.2em;
        margin-bottom: 5px;
        }
    }

    .scoreboardActive {
      margin-top: 25vh !important;
      transition: margin-top 2s;
    }



    #navbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        border-bottom: 2px solid black;


        .titre, .menu {

            margin: 0 10px 0 10px;
            padding: 0 10px 0 10px;
        }
        .titre {
            flex: 1 1 auto;

            font-family: 'title', sans-serif;
        }
        .menu {
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-content: center;

            section {
                text-align: center;
                padding: 10px;
                flex: 1 1 auto;
                font-size: 1.3em;
                font-weight: 600;
                color: darkgray;
                &:hover {
                    text-decoration: underline;
                }

            }
            .active {
                color: bisque;
                text-transform: uppercase;
            }
        }


    }

    @import 'game/game.less';

}
