@font-face {
  font-family: 'Title';
  src: url('../ressources/fonts/title.ttf');
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  #wall {
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(1px);
    filter: none;
    overflow: hidden;
  }

  #title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    #t1, #t2 {
      color: white;
      font-size: 5em;
      margin: 0;
      position: absolute;
      width: 10vw;
      top: 40vh;
      text-align: center;
      font-family: 'title', serif;
    }

    #t1 {
      left: -30vw;
    }

    .anim1 {
      transform: translate(62vw);
      transition-duration: 5s;
    }

    #t2 {
      right: -10vw;
    }

    .anim2 {
      transform: translate(-50vw);
      transition-duration: 5s;
    }

    a {
      color: white;
      position: absolute;
      bottom: -10vh;
      font-size: 2em;
      font-weight: bold;
      font-family: sans-serif;
    }
  
    .anim3 {
      transform: translate(0, -50vh);
      transition-duration: 5s;
    }
  }

}
