#game {
    display: flex;
    text-align: center;
    height: 80vh;
    width: 75vw;
    margin: auto;

    .game-item {
        //border: 3px solid black;
        margin: 10px;
    }

    .game-item h3 {
        background-color: lightblue;
        margin: 0;
        padding: 10px;
    }

    #sideBoard {
        flex: 1 0 auto;
        position: relative;
        //width: 10%;
        box-shadow: 5px 5px 10px black;
        overflow: scroll;

        .settings {
            text-align: left;
            padding-left: 10%;
        }

        .stfield {
            margin: 5px auto 5px auto;
        }

        table {
            margin: 10% auto auto auto;
        }

        #nextPiece {
            width: 80%;
            height: 30%;
            margin: auto;

            canvas {
                border: 2px solid black;
            }
        }
    }

    #mainBoard {
        flex: 1 1 auto;
        padding: 10px;

        canvas {
            border: 3px solid black;
        }
    }

    @import 'chat.less';
}
