#game {
    display: flex;
    text-align: center;
    height: 80vh;
    width: 75vw;
    margin: auto;

    .game-item {
        //border: 3px solid black;
        margin: 10px;
    }

    .game-item h3 {
        background-color: black;
        margin: 0;
        padding: 10px;
    }

    #sideBoard {
        flex: 1 0 auto;
        position: relative;
        //width: 10%;
        //box-shadow: 5px 5px 10px white;
        border: 2px solid yellow;
        border-radius: 5px 5px 5px 5px;
        overflow: scroll;

        .settings {
            text-align: left;
            padding-left: 10%;
            
            p {
                display: block;
            }
        }


        table {
            margin: 10% auto auto auto;
        }

        #nextPiece {
            width: 80%;
            height: 30%;
            margin: auto;

            canvas {
                border: 2px solid lightblue;
            }
        }
        #start {
            margin: auto;
            padding: 10px;
            background-color: lightgreen;
            border-radius: 15px;
            border: 2px solid yellow;
            font-size: 1.3em;
            font-weight: bold;
            width: 150px;
            
            &:hover {
                background-color: burlywood;
            }
        }
    }

    #mainBoard {
        flex: 1 1 auto;
        padding: 10px;
        
        canvas {
            //box-shadow: 5px 5px 10px white;
            border: 3px solid lightblue;
        }
    }

    @import 'chat.less';
}
