#game {
    display: flex;
    text-align: center;

    .game-item {
        border: 3px solid black;
        margin: 10px;
    }

    .game-item h3 {
        background-color: salmon;
        margin: 0;
        padding: 10px;
    }

    #sideBoard {
        flex: 1 0 auto;
        width: 10%;
    }

    #mainBoard {
        flex: 3 1 auto;
        padding: 10px;
    }

    @import 'chat.less';
}
